// Here you can add other styles
.pagelabel{
  background-color: rgba(255, 255, 255, 0.685);
  padding: 2px;
  border-bottom: 1px solid #e2ebe9bd;
  margin-bottom: 1px;
 }
.pagetitle{
   padding: 7px 10px;
   margin-bottom: 0rem;
   color: rgb(173, 110, 14);
   font-weight: bold;
   font-size: 16px;
 }
