<div class="animated fadeIn">
  <div class="col-md-12">
    <p-table [value]="caseList"  styleClass="p-datatable-sm p-datatable-striped">
      <ng-template pTemplate="header">
          <tr>
            <th>Case#</th>
            <th>Subject</th>
            <th>Dist Adm</th>
            <th>Opponent</th>
            <th>Status</th>
            <th></th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-case>
          <tr>
            <td>{{case.caseNo}}</td>
            <td>{{case.caseSubject}}</td>
            <td>{{case.distAdmin}}</td>
            <td>{{case.opositParty}}</td>
            <td>{{case.status}}</td>
            <td>
              <span > <i class="fa fa-edit"></i> </span>
            </td>
          </tr>
      </ng-template>
  </p-table>
  </div>
</div>
