<app-designation-new *ngIf="!editMode" (disgnationCrated)="loadDesignations()"></app-designation-new>
<app-designation-edit *ngIf="editMode" [model]="editDesignation"
(editingComplete)="editMode = !editMode"
></app-designation-edit>
<div class="row">
  <div class="col col-sm-10 col-md-6" offset-md="3" offset-sm="1" >
    <div class="row">
      <div class="col-sm-2">ID</div>
      <div class="col-sm-7">Title</div>
      <div class="col-sm-3">Options</div>
    </div>
    <app-designation-list-item [designation]="designation"
    (reloadList)="loadDesignations()"
    (showEditView) = "showEditView($event)"
    *ngFor="let designation of designations"
      >
    </app-designation-list-item>
  </div>
</div>
