<div class="animated fadeIn">
  <div class="row">
    <div class="form-group col-md-4 mx-auto">
    <form #findCaseForm="ngForm" (ngSubmit)="findCase()" >

        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">মামলা নং</span>
          </div>
          <input type="text" id="caseNo" name="caseNo"
          [(ngModel)]="searchModel.caseNo" class="form-control" placeholder="" required>
          <div class="input-group-postpend">
            <input type="submit" class="btn btn-primary" value="খুঁজুন" />
          </div>
        </div>

    </form>
  </div>
  </div>
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="card">
        <div class="card-header">
          মামলার তথ্য
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">মামলা নং</span>
                  </div>
                  <label class="form-control" name="rCaseNo" id="rCaseNo">{{caseDetails.CaseNo}}</label>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">শ্রেণী</span>
                  </div>
                  <label class="form-control" name="CaseCategory" id="CaseCategory">{{caseDetails.CaseCategory}}</label>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">ধরন</span>
                  </div>
                  <label class="form-control" name="CaseType" id="CaseType">{{caseDetails.CaseType}}</label>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">জেলা প্রশাসন</span>
                  </div>
                  <label class="form-control" name="DistAdmin" id="DistAdmin" >{{caseDetails.DistAdmin}}</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">বিষয়</span>
                  </div>
                  <label class="form-control" name="subject" id="subject" >{{caseDetails.CaseSubject}}</label>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">অপর পক্ষ</span>
                  </div>
                  <label class="form-control" >{{caseDetails.OpositParty}}</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
                <label for="district">জেলা</label>
                <label class="form-control" name="knownAs" id="knownAs" >{{caseDetails.DistName}}</label>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label for="email">উপজেলা</label>
                <label class="form-control" >{{caseDetails.UpzName}}</label>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label for="email">ইউনিয়ন </label>
                <label class="form-control" >{{caseDetails.UnionName}}</label>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label for="email">ভূমি অফিস</label>
                <label class="form-control" >{{caseDetails.LandOfficeName}}</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2">
              <div class="form-group">
                <label for="district">মৌজা</label>
                <label class="form-control" name="knownAs" id="knownAs" >{{caseDetails.MouzaNo}}</label>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="form-group">
                <label for="district">এস,এ,খং</label>
                <label class="form-control" name="knownAs" id="knownAs" >{{caseDetails.SAKhatianNo}}</label>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="form-group">
                <label for="district">আর,এস,খং</label>
                <label class="form-control" name="knownAs" id="knownAs" >{{caseDetails.RSKhatianNo}}</label>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="form-group">
                <label for="district">এস,এ দাগ</label>
                <label class="form-control" name="knownAs" id="knownAs" >{{caseDetails.SADagNo}}</label>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="form-group">
                <label for="district">আর,এস দাগ</label>
                <label class="form-control" name="knownAs" id="knownAs" >{{caseDetails.RSDagNo}}</label>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="form-group">
                <label for="district">জমি (শতাংশ)</label>
                <label class="form-control" name="knownAs" id="knownAs" >{{caseDetails.LandPercent}}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 mx-auto animated fadeIn">
      <div class="card">
        <div class="card-header">
          মামলার কার্যক্রম
        </div>
        <div class="card-body">
          <div class="wrapper">
            <ul class="StepProgress">
              <li class="StepProgress-item is-done" ><span>মামলা দায়ের</span>
                <div> মামলার তারিখঃ {{caseDetails.DateCreated}}</div>
              </li>
              <li class="StepProgress-item {{currentStage >= 1? 'is-done':''}} {{currentStage < 1? 'current':''}}" ><span>{{currentStage >= 1? 'এস এফ প্রাপ্ত':'এস এফ অপেক্ষমান'}}</span>
                <div *ngIf="currentStage >= 1"> এস এফ প্রাপ্তির তারিখঃ {{caseDetails.SFReceiveDate}}</div>
                <div *ngIf="currentStage < 1">

                </div>
              </li>
              <li class="StepProgress-item"><span> সরকারী স্বত্ব আছে কি না? </span> <br/>
              <li class="StepProgress-item"><span> এস এফ জিপি অফিসে প্রেরণ </span> <br/>
                Got more entries that you love? Buy more entries anytime! Just hover on your favorite entry and click the Buy button
              </li>
              <li class="StepProgress-item"><span> জিপি অফিস থেকে জবাব প্রাপ্তি </span></li>
              <li class="StepProgress-item"><span> স্বাক্ষরিত জবাব জিপি অফিসে প্রেরণ </span></li>
              <li class="StepProgress-item"><span> শুনানী </span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
