<div class="row">
  <div class="col">
    <button type="button" pButton label='New' icon="pi pi-plus" iconPos="right"
      class="p-button-sm" (click)="openNewWindow()" >
    </button>
  </div>
</div>
<div class="row">
  <div class="col-md-10" offset="2">
    <p-table [value]="divisions"  styleClass="p-datatable-sm p-datatable-striped">
      <ng-template pTemplate="header">
          <tr>
              <th>Code</th>
              <th>Name</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-division>
          <tr>
              <td>{{division.code}}</td>
              <td>{{division.name}}</td>
          </tr>
      </ng-template>
  </p-table>
  </div>
</div>
