<div class="row">
  <div class="col">
    <div class="pagelabel">
      <div class="row" style="margin-bottom: 2px;">
        <div class="col-sm-6">
          <ol class="pagetitle" style="margin-bottom: 0rem;">Divisions</ol>
        </div>
        <div class="col-sm-4">
        </div>
        <div class="col-sm-2" style="text-align: right;">
          <button type="button" class="btn btn-link" style="text-decoration: none;" (click)="openNewWindow()" >
            <span *ngIf="showNewWindow === false"> <i class="fa fa-plus"></i> New </span>
            <span *ngIf="showNewWindow === true"> <b>X</b> Cancel</span>
          </button>
        </div>
      </div>
    </div>
    <div>
      <app-division-new *ngIf="showNewWindow === true"></app-division-new>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-10" offset="2">
    <p-table [value]="divisions"  styleClass="p-datatable-sm p-datatable-striped">
      <ng-template pTemplate="header">
          <tr>
              <th>Code</th>
              <th>Name</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-division>
          <tr>
              <td>{{division.code}}</td>
              <td>{{division.name}}</td>
          </tr>
      </ng-template>
  </p-table>
  </div>
</div>
